.chats {

}

.chat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--fourth-color);
    cursor: pointer;
}

.chat:hover {
    background-color: var(--fifth-color);
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.info {

}

.user {
    font-size: 18px;
    font-weight: bolder;
}

.message {
    margin: 0;
    font-size: 14px;
}
